---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%Y-%m-%d" }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {% endif %}
      
      {% if page.categories %}
        • 
        <span class="category-list">
          {% for category in page.categories %}
            <a href="{{ site.baseurl }}/categories/{{ category | slugify }}/">{{ category }}</a>
            {% unless forloop.last %}, {% endunless %}
          {% endfor %}
        </span>
      {% endif %}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-navigation">
    <div class="post-navigation-item prev">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
    </div>
    <div class="post-navigation-item next">
      {% if page.next.url %}
        <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </div>
  </div>

  <div class="comments-section">
    <h2>댓글</h2>
    {% if site.auth.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article> 